<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="en-us" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <title>{% block title %}Stewart Little Co-op{% endblock %}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}all.css" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
        {% block extrahead %}{% endblock %}

        <meta name="description" content="Stewart Little Co-op in Ithaca, NY." />
        <meta name="keywords" content="Ithaca, cooperative living, Stewart Little" />
	</head>
	<body>

	<div id="container" {% block extracontainer %}{% endblock %}>
	{% block container %}
	{% endblock %}
    </div>

    {% if debug %}
    <div id="debug">
      <p>debug
        <a href="http://validator.w3.org/check?uri=referer">X</a>
        <a href="http://jigsaw.w3.org/css-validator/check/referer">C</a>
        <a href="http://validator.w3.org/unicorn/check?ucn_uri=referer">U</a></p>
    </div>
    {% else %}
    {% endif %}

	</body>
</html>
