{% extends 'main/header_menu.html' %}
{% load extras %}



{% block content %}
<h1>Stewart Little</h1>

<p>Stewart Little Cooperative: population 14, a good place
to live.</p>


<p> We are a cooperative of 14 people. Our diverse community reflects
the character of this small upstate New York university town. Our
house is an old, somewhat run down but beautiful Victorian mansion,
located on a hill between downtown Ithaca and Cornell University. Many
of us have some link with Cornell University as graduate students or
workers.  We share all food (vegetarian) and eat together every
evening. Dinner is cooked by one member in rotation, and shopping and
cleaning are also shared. Each member has a specific responsibility
within the house such as accounting, composting, recycling, dealing
with membership applications, or managing the kitchen.  The spirit of
our community is evident in our energetic conversations and social
gatherings.</p>


<p class="contact left">
211 Stewart Ave<br />
Ithaca, New York 14850<br />
United States
</p>
<p class="contact right">
+1.607.273.1983 
</p>
<div class="clearboth"></div>

{% endblock %}
