{% extends 'main/boxlayout.html' %}

{% block content %}

<script src="http://code.jquery.com/jquery-2.1.4.js" type="text/javascript">
</script>
<script type="text/javascript">
function swap(elem)
{
    $(elem).toggleClass('focused')   
}
</script>

<div id="topbox">
<h1>Stewart Little Co-op</h1>
<h2>211 Stewart Ave | 14850 Ithaca, NY</h2>
</div>

<metacolumn>
<column>
<h2>The Community</h2>
<p> We are a cooperative of 15 people. Our diverse community reflects
the character of this small upstate New York university town. Many
of us have some link with Cornell University as graduate students or
workers.</p>
</column>

<column>
<h2>The House</h2>
<p>We live in a big, somewhat rundown house in Collegetown. We have a large common area and 14 bedrooms.
The building is surrounded by a beautiful garden that we use to plant vegtables and do our own compost.</p>

<p class="images">
<img class="zoom" onclick="swap(this)" src="{{ STATIC_URL }}winter.jpg" />
<img class="zoom" onclick="swap(this)" src="{{ STATIC_URL }}dining-room.jpg" />
<img class="zoom" onclick="swap(this)" src="{{ STATIC_URL }}djjack.jpg" />
<img class="zoom" onclick="swap(this)" src="{{ STATIC_URL }}driveway.jpg" />
<img class="zoom" onclick="swap(this)" src="{{ STATIC_URL }}porch.jpg" />
<img class="zoom" onclick="swap(this)" src="{{ STATIC_URL }}slcnow.jpg" />
</p>
</column>

<column>
<h2>The Co-op</h2>
<p>We share all food (vegetarian) and eat together every
evening. Each member has a specific responsibility
within the house such as accounting, composting, recycling, dealing
with membership applications, or managing the kitchen. </p>

<p class="images">
<img class="zoom" onclick="swap(this)" src="{{ STATIC_URL }}food1.jpg" />
<img class="zoom" onclick="swap(this)" src="{{ STATIC_URL }}food2.jpg" />
<img class="zoom" onclick="swap(this)" src="{{ STATIC_URL }}food3.jpg" />
<img class="zoom" onclick="swap(this)" src="{{ STATIC_URL }}food4.jpg" />
<img class="zoom" onclick="swap(this)" src="{{ STATIC_URL }}food5.jpg" />
<img class="zoom" onclick="swap(this)" src="{{ STATIC_URL }}food6.jpg" />
</p>
</column>

<column>
<h2>Contact</h2>
<p>Regular leases start in August of each year. Send us an e-mail, if you're interested:<br />
<a class="email" href="mailto:info__REMOVE__THIS@stewartlittle.org"><span class="b">__</span><span class="c">in</span><span class="d">_Tak</span><span class="e">e_T</span><span class="f">his_o</span><span class="g">ut_</span><span class="h">f</span><span class="i">o</span><span class="j">__</span><span class="k">@</span><span class="l">stewartlittle.org</span></a>
</p>
</column>
</metacolumn>

{% endblock %}
